<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/form.css}" rel="stylesheet">
</head>
<body>
    <h1>Name</h1>
    <h2 th:text="${formDetailsAndSkills.name}"></h2>
    <br>
    <h1>Email</h1>
    <h2 th:text="${formDetailsAndSkills.email}"></h2>
    <br>
    <h1>Phone</h1>
    <h2 th:text="${formDetailsAndSkills.mobile}"></h2>
    <br>
    <h1>State</h1>
    <h2 th:text="${formDetailsAndSkills.state}"></h2>
    <br>
    <h1>Gender</h1>
    <h2 th:text="${formDetailsAndSkills.gender}"></h2>
    <br>
    <h1>Skills</h1>
    <h2 th:text="${formDetailsAndSkills.skills}"></h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <img class="thumbnail img-responsive" th:src="${image}" />
        </div>
    </div>

    <form action="/updateUser" method="post">
        <input type="hidden" name="email" th:value="${formDetailsAndSkills.email}"/>
        <button  class="btn btn-primary" type="submit" >Update</button>
        <a href="/" class="btn btn-primary">Create New User</a>

    </form>

</body>
</html>